body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: #282828;
}


/* Header */
header {
    background-color: #282828;
    color: whitesmoke;
}

ul {
    list-style: none;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    width: 25px;
}

.align-right {
    margin-left: auto;
}

/* Main */

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.caption {
    margin: 0px 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.item-img {
    width: 100%;
    display: block;
}

/* Item section */
.item {
    position: relative;
}

.img-banner {
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    margin: auto;
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
}

/*Chatbox section  */

.chatbox-bg {
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.chatbox-img {
    width: 50%;
    margin: auto;
}